*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul,li {
    list-style: none;
    padding-inline-start: 0px;
}

a{
    text-decoration: none;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

p{
    color: rgb(45, 41, 40);
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

h1{
    color: rgb(45, 41, 40);
    font-family: Segoe UI;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: left;
}

h2{
    color: rgb(30, 30, 30);
    font-family: Segoe UI;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: left;
}

h3{
    color: rgb(30, 30, 30);
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

header{
    background: rgb(45, 41, 40);
    .main-menu{
        padding-top: 22px;
        display: flex;
        max-width: 1161px;
        justify-content: space-between;
        align-items: center;
        &__left{
            width: 332px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__location{
                display: flex;
                color: rgb(83, 187, 1);
                img{
                    margin-right: 10px;
                }
            }
        }
        &__right{
            width: 516px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__link{
                color: rgb(83, 187, 1);
            }
            &__button{
                padding: 6px;
                display: flex;
                color: rgb(83, 187, 1);
                border: 1px solid rgb(83, 187, 1);
                border-radius: 4px;
                img{
                    margin-right: 6px;
                }
            }
        }
    }
}

.reviews{
    padding: 80px 0;
    h1{
        text-align: center;
        margin-bottom: 60px;
    }
    &__review{
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 2px solid rgb(45, 41, 40);
        border-top: 2px solid rgb(45, 41, 40);
        margin-bottom: 60px;
        &__profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 60px;
            img{
                margin-bottom: 15px;
            }
            .nick{
                font-weight: 600;
                text-align: center;
            }
            .date{
                font-size: 16px;
                font-weight: 400;
            }
        }
        p{
            max-width: 940px;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
            font-family: Segoe UI;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: center;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 8px;
            width: 270px;
            height: 67px;
            padding: 14px 24.21px 14px 24.2px;
        }
    }
}


footer{
    background: rgb(30, 30, 30);
    .footer__block{
        display: flex;
        justify-content: space-between;
        width: 1160px;
        margin: 0 auto;
        padding: 70px 0;
        &__company, 
        &__menu, 
        &__work-schedule, 
        &__info {
            display: flex;
            flex-direction: column;
            max-width: 227px;
            height: 174px;
            justify-content: space-between;
            p, address, a{
                color: rgb(83, 187, 1);
                font-family: Segoe UI;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
                font-style: normal;
            }
        }
    }
}



@media (max-width: 431px) {
    a{
        font-size: 14px;
    }
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 24px;
        line-height: 26px;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 16px;
        line-height: 26px;
    }
    .container{
        max-width: 430px;
    }
    header{
        .main-menu{
            padding: 10px 0;
            display: flex;
            max-width: 390px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            &__left{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &__logo{
                    display: none;
                }
                &__logo-m{
                    display: block;
                    margin-left: 40px;
                }
                &__location{
                    margin-left: 30px;
                    display: flex;
                    color: rgb(83, 187, 1);
                    img{
                        margin-right: 10px;
                    }
                }
            }
            &__right{
                display: none;
            }
            &__burger-icon{
                display: block;
                color: rgb(83, 187, 1);
                font-size: 24px;
            }
            &__burger{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                height: 130px;
                justify-content: space-between;
            }
        }
    }

    .reviews{
        padding: 30px 0;
        h1{
            text-align: center;
            margin-bottom: 10px;
            margin-top: -20px;
        }
        &__review{
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 2px solid rgb(45, 41, 40);
            border-top: 2px solid rgb(45, 41, 40);
            margin-bottom: 20px;
            &__profile{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 30px;
                img{
                    margin-bottom: 15px;
                }
                .nick{
                    font-weight: 600;
                    text-align: center;
                }
                .date{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            p{
                max-width: 940px;
            }
        }
        &__button{
            display: flex;
            justify-content: center;
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(0, 0, 0);
                font-family: Segoe UI;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: center;
                box-sizing: border-box;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 8px;
                width: 270px;
                height: 50px;
                padding: 14px 24.21px 14px 24.2px;
            }
        }
    }

    footer{
        .footer__block{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 360px;
            margin: 0 auto;
            padding: 40px 0;
            &__company, 
            &__menu, 
            &__work-schedule, 
            &__info {
                display: flex;
                flex-direction: column;
                max-width: 180px;
                height: 130px;
                justify-content: space-between;
                p, address, a{
                    color: rgb(83, 187, 1);
                    font-family: Segoe UI;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                    font-style: normal;
                }
            }
            &__menu{
                display: none;
            }
            &__work-schedule{
                display: none;
            }
        }
    }
}

